<div class="app-flex">
  <div class="app-signup">
    <mat-card>
      <mat-card-content>
        <h2 class="app-center" mat-card-title>Registrate</h2>
        <form novalidate [formGroup]="signupForm" (ngSubmit)="onSave()">
          <mat-form-field appearance="outline" class="app-input">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="ingrese su email"
              formControlName="email"
              name="email"
            />
            <mat-error *ngIf="signupForm.get('email').errors?.required">
              Ingrese su email
            </mat-error>
            <mat-error *ngIf="signupForm.get('email').errors?.pattern">
              Ingrese un email valido
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="app-input">
            <mat-label>Contraseña</mat-label>
            <input
              [type]="hide ? 'text' : 'password'"
              matInput
              placeholder="ingrese su contraseña"
              name="password"
              formControlName="password"
            />

            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-error *ngIf="signupForm.get('password').errors?.required">
              Ingrese su contrase&ntilde;a
            </mat-error>
          </mat-form-field>

          <div class="app-center">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              aria-label="Bot&oacute; para registarr"
            >
              Registrar
            </button>
            <br />
            <button routerLink="/login" mat-button>
              Iniciar Sesi&oacute;n
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
